

#generatedPlaylist {
  display: flex;
  flex-direction: column;
  align-items: center;     /* horizontal centering */

}


#title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.subtitle {
  font-size: 1.5em;
  margin-bottom: 40px;
}

button {
  background-color: #b388eb;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 1.2em;
  cursor: pointer;
}





