$primary-color: #D70654;
$secondary-color: #FFD95F;

button {
  padding: 12px;
  margin:10px;
  background: $secondary-color;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: $primary-color;
  }
}

#header
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
