<div *ngIf="songs.length > 0" class="card">
  <h3>{{ songs[currentSongIndex].title }}</h3>
  <h4>{{ songs[currentSongIndex].artist }}</h4>

  <button (click)="playPrevious()">Prev</button>
  <button (click)="togglePlay()">{{ isPlaying ? 'Pause' : 'Play' }}</button>
  <button (click)="playNext()" >Next</button>

  <input
    type="range"
    [max]="duration"
    [value]="currentTime"
    (input)="seek($event)"
  />
  <div>{{ formatTime(currentTime) }} / {{ formatTime(duration) }}</div>

  <ul>
    <li *ngFor="let song of songs; let i = index">
      <button (click)="loadSong(i)">
        ▶ {{ song.title }} - {{song.artist}}
      </button>
    </li>
  </ul>
</div>

<div *ngIf="songs.length === 0">
  No songs to show
</div>
