body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: none;
}

#profile-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: rgba(255, 255, 255, 0.333);
  padding: 30px;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}