
<body>
<!-- Loading spinner -->
<div *ngIf="loading$ | async; else moodList">
  <p>Loading moods...</p>
</div>
<!-- Template for mood list -->
 <ng-template #moodList>
<div class="container">
    <h1 class="title">Moody</h1>
    <p class="subtitle">How are you feeling today?</p>
    <div class="moods">
      <div class="mood"
      *ngFor="let mood of allMoods$ | async"
      [attr.data-mood]="mood.name"
      [attr.data-selected]="selectedMood$ | async"
      [ngClass]="{ 'selected': mood === (selectedMood$ | async) }"
      (click)="setMood(mood)">
      {{ mood.emoji }} <span>{{ mood.name }}</span>
      </div>

    </div>
    <button id="createPlaylist " (click)="createPlaylist()">Create Playlist</button>
</div>
</ng-template>
</body>
